<h1>Places</h1>

<% if @current_user %>
<p>
  <a href="/places/new" class = "btn btn-success">New Place</a>
</p>


<ul>
  <% for place in @places   %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

<% else %>
  Login or sign up to view places!
<% end %>

